.heading__primary {
  font-size: var(--font-xl);
  color: var(--color-primary);
}

@media only screen and (max-width: 600px) {
  .heading__primary {
    font-size: var(--font-lg);
  }
}

.heading__primary-small {
  font-size: var(--font-md);
  color: var(--color-primary);
}

.heading__secondary {
  color: var(--color-primary);
  font-size: var(--font-md);
}

@media only screen and (max-width: 600px) {
  .heading__secondary {
    font-size: var(--font-sm);
  }
}

.heading__secondary-small {
  color: var(--color-white);
  font-size: var(--font-sm);
}

.disable-link {
  pointer-events: none;
}

.text-primary {
  color: var(--color-primary) !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-black {
  background-color: var(--color-black) !important;
}

.bg-green {
  background-color: var(--color-green) !important;
}

.bg-dark {
  background-color: var(--color-black-light) !important;
}
