.dashboard {
}

.dashboard__heading-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 210px;
  width: 100%;
  align-items: center;
}

.dashboard__video {
  position: absolute;
  bottom: 0;
  background-color: transparent;
}

video:focus {
  outline: none;
}
