.custom-modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.custom-modal__form {
  height: 300px;
  width: 400px;
  background-color: var(--color-white);
}

.hide-modal {
  opacity: 0;
  display: none;
  visibility: hidden;
}
