:root {
  /* COLORS */
  --color-primary: rgb(255, 78, 80);
  --color-primary-dark: rgba(255, 78, 80, 0.5);
  --linear-gradient: -webkit-linear-gradient(
    left,
    var(--color-primary),
    var(--color-primary-dark)
  );

  --color-green: rgba(0, 217, 95, 1);
  --color-green-light: rgba(0, 217, 95, 0.8);
  --color-white: #fff;
  --color-black: #000;
  --color-black-light: #282828;

  /* FONTS SIZES */
  --font-xs: 16px;
  --font-sm: 22px;
  --font-md: 26px;
  --font-lg: 40px;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--color-black-light);
  font-family: "Oswald", sans-serif;
}

body {
  height: 100vh;
}

.content-wrapper {
  padding: 5rem 0 0 0;
}

.col-3,
.col-6 {
  padding: 0 !important;
}

h3 {
  margin: 0 !important;
}

.row {
  margin: 0 !important;
}
