.heading__primary {
  font-size: var(--font-lg);
  color: var(--color-primary);
  /* background: var(--linear-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.heading__primary-small {
  font-size: var(--font-md);
  color: var(--color-primary);
}

.heading__secondary {
  color: var(--color-primary);
  font-size: var(--font-md);
}

.heading__secondary-small {
  color: var(--color-white);
  font-size: var(--font-sm);
}

.disable-link {
  pointer-events: none;
}

.text-primary {
  color: var(--color-primary) !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-black {
  background-color: var(--color-black) !important;
}

.bg-green {
  background-color: var(--color-green) !important;
}

.bg-dark {
  background-color: var(--color-black-light) !important;
}
